<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-800 p-10">
      <form action="/login" method="post">
        <input
          class="border-2 mr-3 border-black-500 bg-white-600 text-black ouline-none"
          type="email"
          placeholder="Email"
          name="email"
        />

        <input
          class="border-2 mr-3 border-black-500 bg-white-600 text-black ouline-none"
          type="password"
          placeholder="Password"
          name="password"
        />

        <input
          type="submit"
          class="mt-5 border-2 border-black bg-blue-600 text-white"
          value="Login Account"
        />
      </form>
    </div>
  </body>
</html>
 